<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag @post_hot, style: 'border: 3px solid red' do %>
  <%= render @post_hot %>
<% end %>
<div>
  <%= link_to "Edit this post hot", edit_post_hot_path(@post_hot), "data-turbo-frame": dom_id(@post_hot) %> |
  <%= link_to "Back to post hots", post_hots_path %>

  <%= button_to "Destroy this post hot", @post_hot, method: :delete %>
</div>
