<div id="<%= dom_id post_hotter %>">
  <p>
    <strong>Title:</strong>
    <%= post_hotter.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post_hotter.body %>
  </p>
  <% if params[:action] != 'show' %>
    <p>
      <%= link_to "Show this post hotter", post_hotter %> |
      <%= link_to "Destroy this post hotter", post_hotter, "data-turbo-method": :delete %>
    </p>
  <% end %>
</div>
