<p style="color: green"><%= notice %></p>

<h1>Post hottests</h1>

<%= turbo_stream_from "post_hottests_list" %>

<div id="post_hottests">
  <% @post_hottests.each do |post_hottest| %>
    <%= render post_hottest %>
  <% end %>
</div>
<%= turbo_frame_tag PostHottest.new, style: 'border: 3px solid green' %>

<%= link_to "New post hottest", new_post_hottest_path, "data-turbo-frame": dom_id(PostHottest.new) %>
