<p style="color: green"><%= notice %></p>

<%= render @post_hottest %>

<div>
  <%= link_to "Edit this post hottest", edit_post_hottest_path(@post_hottest) %> |
  <%= link_to "Back to post hottests", post_hottests_path %>

  <%= button_to "Destroy this post hottest", @post_hottest, method: :delete %>
</div>
